.headerStyle {
    height: 60px;
    background: tomato;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerStyle a {
    text-decoration: none;
    font-size: 35px;
    color: darkgreen;
}

.headerStyle a[class='active'] {
    text-decoration: underline;
    color: gold;
}